!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='使用NODEjs开发的招聘网站')
    meta(name='author', content='Eisneim Terry(www.eisneim.com)')
    link(rel='stylesheet', type='text/css', href='/css/style.css').
    title= title 
  body
    #page
      .container
        .colorbar
        header#header
          .warper
            nav.top-nav
              if auth
                ul
                  li
                    a(href="/dashboard")=auth.username
                  li
                    a(href="/logout") 登出
                  if auth.publisher
                    li
                      a(href="/job/new") 发布
              else
                form(id="loginform", method="POST", action="/login")
                  input(type='hidden', name='_csrf', value="#{csrf}" )
                  ul
                    li: input(type="text" name="email" placeholder="Email")
                    li: input(type="password" name="password" placeholder="密码")
                    li: button.btn-green.btn-sm(type="submit") 登录
                    li: a.btn-cyan.btn-sm(href="/signup") 注册
            h1.page-title: a(href="/") JobBox工作盒
        block content
    footer 
      .warper
        hr
        p 版权所有&copy;则修网 
          a(href="http://zexeo.com" target="_blank") www.zexeo.com 
    if message.length!== 0
      .msgbox.moving-lef-tanimation
        p=message
        span.close-icon &#10005;
    else if error.length!== 0
      .errbox.moving-lef-tanimation
        p=error
        span.close-icon &#10005;
    script(type='text/javascript', src='/js/jquery.js').
    script(type='text/javascript').
      "use strict";
      // js enabled
      $( 'html' ).removeClass( 'no-js' ).addClass( 'js' );
      $(function(){
        // Off Canvas pattern
        $( '.menu-button' ).on( 'click', function( e ){
          e.preventDefault();
          $( 'body' ).toggleClass( 'active-nav' ).removeClass( 'active-panel' );
        });
        $( '.sidebar-button' ).on( 'click', function( e ){
          e.preventDefault();
          $( 'body' ).toggleClass( 'active-panel' ).removeClass( 'active-nav' );
        });
        //close message box
        $('.close-icon').click(function(e){
          e.preventDefault();
          $(this).parent().fadeOut('slow');
        });

      });
